<section id="banner" class="bannercontact">
        <h1>Contact Us</h1>
        <h1>Get Started on your services today! </h1>
</section>
<br>
<center><h1>contact form</h1></center>





<div class="row">
  <div class="col-lg-6 col-lg-offset-4">
    <%= form_for(@contact) do |f| %>
      <%= f.label :name %><%= f.text_field :name %></br>

      <%= f.label :email %><br>
      <%= f.email_field :email %></br>


      <%= f.label :mesage, "Message" %></br>
      <%= f.text_area :mesage, :cols => 60, :rows => 10  %></br>

      <%= f.submit "Send my message", class: "btn btn-primary" %>
    <% end %>
  </div>

