<header id="header">
        <div class="inner">
          <%= link_to "SANNETS", root_path, class: "logo" %>
          <nav id="nav">
            <%= link_to "Home", root_path %> 
            <%= link_to "About", root_path %> 
            <div class="dropdown">
            <%= link_to 'Managed Services <b class="caret"></b>'.html_safe, '#' %>
            <div class="dropdown-content">
            <ul>
              <li><%= link_to "Network", network_path, class: "click" %></li>
              <li><%= link_to "Cloud", cloud_path, class: "click"  %></li>
              <li><%= link_to "Helpdesk", helpdesk_path, class: "click"  %></li>
              <li><%= link_to "Systems", system_path, class: "click"  %></li>
              <li><%= link_to "Telephony", telephony_path, class: "click"  %></li>
              <li><%= link_to 'Asset Management', assetmanagement_path, class: "click"  %></li>
              <li><%= link_to "Web Development", webdevelopment_path, class: "click"  %></li>
            </ul>  
            </div>
            </div>
            <%= link_to "Contact", contactforms_path %> 
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
</header>
